<div class="adventure_index">

 <% @adventure.each do |adventure| %>
     <a href="/adventures/<%=adventure.id%>">
       <p class="adventure_names"> <%= adventure.name %> </p>

   <img class="adventure_image" src="<%= adventure.image_url %>" alt="">
 <% end %>
</a>

</div>
<div class="tag_index">

 <% @tag.each do |tag| %>
   <p> <%= tag.tag_name %> </p>


 <% end %>
</div>
