<div class="create_form">
  <h2>Create New Adventure</h2>
  <form action="/adventures" method="post">
    <label for="">name</label>
    <input name="name" type="text">

    <label for="">Image URL</label>
    <input name="image_url" type="text">

    <label for="">Address</label>
    <input name="address" type="text">

    <label for="">Details</label>
    <input name="Details" type="text">

    <label for="">Special Mention</label>
    <input name="special_mention" type="text">

    <button>Create</button>
  </form>
</div>
