* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto';
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image:url("https://images.unsplash.com/photo-1472740378865-80aab8e73251?auto=format&fit=crop&w=2850&q=80");
  width: 100%;
}

#main_wrapper {
  background-color: white;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  filter: alpha(opacity=50);

}


h1{
  text-align: center;
  font-family: 'Tangerine';
  font-size: 60px;
  text-shadow: 4px 4px 4px #aaa;
}
h2 {
    text-shadow: 4px 4px 4px #aaa;
}

a {
  font-family: 'Tangerine';
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
}


nav {
  background-color: #777;
  text-align: center;
  padding: 4%;
}

.nav_link {
  font-size: 40px;
  padding: 8px;

}
.nav_link:hover {
  text-shadow: 4px 4px 4px #aaa;
}

 #map_wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 5%;
  background-color: white;
  opacity: 100%;
}

#map {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  height: 300px;

     }


 img.adventure_image {
  height: 300px;
  width: 300px;

}

/* a #locationbtn {
  border: 4px, solid, black;
} */
 .adventure_index{
  display: flex;
  align-items:center;
  flex-direction: column;
  background-color: white;


}

 .show_adventure {
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

 .location_wrapper {
   width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

button {
  font-family: 'Tangerine';
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;

}
.tag_wrapper a{
    font-family: 'Kavivanar';
    color: mistyrose;
}
button #btntag {
    border: none;
    background-color: inherit;
    font-family: 'Roboto'
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: dodgerblue;
}

button#deletebutton{
  border: none;
}

a#edit {
  border: none;
}

footer {
  display:flex;
  width: 100%;
  background-color: #777;
  padding: 5%;
}
#addcomment{

}

#logout {
  background-color: #777;
  border: none;
}
#searchbutton {
  background-color: #777;
  border: none;
}
